body { padding: 0; }
body { margin: 0; }
body { font-family: Lucida Grande, Heveltica, Arial, sans-serif; }

#topbar {
    position: fixed;
    top: 0;
    width: 100%;
    color: #FFFFFF;
    text-align: center;
	font-weight: 700;
}

#topbar a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

body { font-size: 12px; }
#topbar a { font-size: 14px; }

/* Color */
#topbar         { color: rgb(1, 1, 1); color: rgba(1, 1, 1, 0.8); }
#topbar a       { color: #404040; }
#topbar a:hover { color: #696969; }

/* Float */
#topbar #Home   { float: left; }
#topbar #About  { float: left; }
#topbar #Code   { float: right; }

/* Baground Color */
#topbar         { background-color: rgb(1, 1, 1); background-color: rgba(1, 1, 1, 0.0); }
#topbar #Home   { background-color: rgb(1, 1, 1); background-color: rgba(1, 1, 1, 0.4); }
#topbar #About  { background-color: rgb(1, 1, 1); background-color: rgba(1, 1, 1, 0.4); }
#topbar #Code   { background-color: rgb(1, 1, 1); background-color: rgba(1, 1, 1, 0.4); }

/* Height */
#topbar         { height: 25px; }
#topbar #Home   { height: 45px; }
#topbar #About  { height: 100%; }
#topbar #Code   { height: 100%; }

/* Margin-right */
#topbar #Home   { margin-right: 3px; }

/* Top Padding */
#topbar #Home   { padding-top: 25px; }
#topbar #About  { padding-top: 5px; }
#topbar #Code   { padding-top: 5px; }

/* Bottom Left Border */
#topbar #About  { border-bottom-left-radius: 10px; }
#topbar #Code   { border-bottom-left-radius: 10px; }

/* Bottom Right Border */
#topbar #Home   { border-bottom-right-radius: 10px; }
#topbar #About  { border-bottom-right-radius: 10px; }